h1{
  color: #ff0000;
  text-align: center;
}
.button1{
  color: #0000ff;
}
.button2{
  color: #ff0000;
}
.menu{
  background-color: #808080;
}
body{
  background-color: #000000;
}
.fst{
  color: #ffffff;
}
.aap{
  color: #ffffff;
}
.img{
  position: relative;
  width: 400px;
  height: 500px;
  left: 30%;
  border-radius: 50px;
}
.contact{
  color: #660099;
}
.abp{
  color: #ffffff;
}
.hi{
  color: #3300ff;
}
.hia{
  color: #ff0000;
}
.sub{
  position: absolute;
  box-sizing: boder-box;
  width: 100px;
  height: 20px;
  background-color: #0000ff;
  text-align: center;
  border-radius: 20px;
  
}
.su{
  color: #ff0000;
}